<div class="example-button-row">
    <button color="primary" mat-flat-button [routerLink]="['/']" routerLinkActive="router-link-active"
        routerLinkActive="router-link-active">Atras</button>
</div>
<form (ngSubmit)="save()" #merchantForm="ngForm">
    <mat-form-field>
        <mat-label>Nombre Producto</mat-label>
        <input matInput name="nombreproducto" [(ngModel)]="cargo.nombreCargo">
    </mat-form-field>

    <div class="example-button-row">
        <button color="primary" mat-flat-button>Registrar</button>
    </div>
</form>
<table mat-table [dataSource]="cargos" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idCargo">
        <th mat-header-cell *matHeaderCellDef> Id no. </th>
        <td mat-cell *matCellDef="let element"> {{element.idcargo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombreCargo">
        <th mat-header-cell *matHeaderCellDef> Nombre producto </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCargo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>