<form (ngSubmit)="save()" #merchantForm="ngForm">
    <mat-form-field>
        <mat-label>Nombre Producto</mat-label>
        <input matInput name="nombreproducto" [(ngModel)]="usuario.nombre">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" name="cantidad" [(ngModel)]="usuario.edad">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Fecha Ingreso</mat-label>
        <input matInput [matDatepicker]="dp" name="fechaingreso" [(ngModel)]="usuario.fechaIngreso" />
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select name="usuarioregistro" [(ngModel)]="usuario.cargo">
            <mat-option [value]="item.idusuario" *ngFor="let item of usersDto">
                {{item.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p>Usuario seleccionado: {{ usuario.cargo }}</p>
    <div class="example-button-row">
        <button color="primary" mat-flat-button>Registrar</button>
    </div>
</form>