<div class="container">
  <h1>Bienvenido</h1>
  <div class="example-button-row">
    <button color="primary" mat-flat-button [routerLink]="['/merchant']" routerLinkActive="router-link-active"
      routerLinkActive="router-link-active">Registrar Mercancia</button>
  </div>

  <div class="example-button-row">
    <button color="primary" mat-flat-button [routerLink]="['/merchant-table']" routerLinkActive="router-link-active"
      routerLinkActive="router-link-active">Ver Mercancia</button>
  </div>

  <div class="example-button-row">
    <button color="primary" mat-flat-button [routerLink]="['/cargos']" routerLinkActive="router-link-active"
      routerLinkActive="router-link-active">Registrar Cargos</button>
  </div>
</div>